@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a80;
    --foreground: #ededed;
  }
}

html,
body {
  color: var(--foreground);
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
}



/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4d4d4d #1e1e1e;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #1e1e1e;
}

*::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
  border-radius: 10px;
  border: 3px solid #1e1e1e;
}